@{
    ViewData["Title"] = "Job Übersicht";
}

<div class="jumbotron bg-primary">
    <div class="container">
        <h1 class="display-1 text-white text-center">Worktastic</h1>
        <p class="lead text-white text-center">Boost your carreer.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <input id="inputQuery" class="form-control-lg form-control" type="text"
            placeholder="What position are you searching for?">
    </div>
</div>

<div class="text-center mt-2">
    <button onclick="onClickSearch()" class="btn btn-lg btn-primary">Suchen</button>
</div>

<hr />

<div id="partialList"></div>

<div class="modal fade" id="modalJobPosting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" class="img-fluid" src=""></img>
                <div id="modalDescription"></div>
                <div id="modalSalary" class="mt-4 mb-4"></div>
                <hr />
                <div id="modalContact"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#partialList').load("/home/GetJobPostingsPartial/");

        function onClickSearch() {
            var query = $('#inputQuery').val();
            $('#partialList').load("/home/GetJobPostingsPartial?query=" + query);
        }

        function showModal(id) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetJobPosting")",
                data: { id: id },
                success: function (data) {
                    $('#modalImage').attr('src', `data:image/png;base64,${data.companyImage}`);
                    $('#modalTitle').text(data.jobTitle);
                    $('#modalDescription').text(data.jobDescription);
                    $('#modalContact').text('Kontakt: ' + data.contactMail);
                    $('#modalSalary').text('Jahresgehalt: ' + data.salary);
                    var myModal = new bootstrap.Modal(document.getElementById('modalJobPosting'), {
                        keyboard: false
                    });
                    myModal.show();
                }
            });
        }
    </script>


}